<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Moba Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/moba.css" media="all" />
    <script src="/moba.js" type="module"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
